<div class="col-sm-6 text-center mt-5">
    <div class="card">
        <a href="{{this.git_link}}" target="_blank"><img class="card-img-top" src={{this.image}}></a>
        <div class="card-body">
            <h4 class="card-title">
                {{this.name}}
            </h4>
            <p class="card-text">
                {{this.preview}}
            </p>
            <a href="{{this.git_link}}" target="_blank" class="project-title mb-2 btn">See More</a>
        </div>
    </div>       
</div>